.changebox{
    border:1px solid #999;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    padding:30px;
}
.changebox h2{
    text-align: center;
    margin-bottom:10px;
}
.changebox label{
    font-size:16px;
    font-weight:bold;
}
.changebox input:not([type="submit"]){
    display: block;
    margin:10px 0;
    width:250px;
    height:20px;
    padding:5px;
    border:1px solid #999;
    border-radius: 5px;
}
.changebox input[type="submit"]{
    width:150px;
    height:30px;
    background: #169BD5;
    color: #fff;
    border:1px solid #169BD5;
    border-radius: 5px;
    margin-top:10px;
    margin-left:57px;
}